* {
    foreground:           rgba(196, 203, 212, 100%);
    selected-foreground:  rgba(255, 255, 255, 100%);
    
    background:           #1f243aa0; 
    background-solid:     #1f243aff; 
    selected-background:  rgba(0, 0, 0, 40%);

    /*#87b5d7;*/  
    /*#6eacda;*/
    /*#deca72;*/
    /*#39c9fe;*/

    red:                  rgba ( 220, 50, 47, 100 % );
    blue:                 rgba ( 38, 139, 210, 100 % );
}

