URxvt.font: xft:Liberation Mono For Powerline: size=10: antialiasing=true
URxvt.scrollBar: false
URxvt.cursorBlink: true

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            full

! special
*.foreground: #eeeeee
*.cursorColor: #eeeeee

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #eeeeee
*.color15: #eeeeee

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.iso14755: false

urxvt*depth:32
urxvt*background:rgba:0000/0000/0000/8888
