:root {
    --accent: white;
    --main-bg: #21243a;
    --dark-bg: #141729;
    --light-bg: #21243a;
}


* {
    font-family: "Hack Nerd Font" !important;
    font-size: 12px !important;
}


#nav-bar-customization-target {
  background-color: var(--main-bg) !important;
  -moz-appearance: none !important;
  background-image: none !important;
  border: none !important;
  color: white !important;
}


#main-window,
#navigator-toolbox,
#PersonalToolbar,
#sidebar-box,
#main-window,
#tabbrowser-tabs,
#TabsToolBar {
  background-color: var(--dark-bg) !important;
  -moz-appearance: none !important;
  background-image: none !important;
  border: none !important;
  color: white !important;
}

#tabbrowser-tabs {
    --tab-loading-fill: none; !important;
}

#TabsToolbar .tabbrowser-tab[selected] {
    color: rgb(255, 255, 255) !important;
}


#TabsToolbar .tabbrowser-tab {
    color: rgb(220, 220, 220) !important;
}

.tab-content {
    padding: 12px 18px !important;
}

.tab-background[selected="true"] {
    background-color: var(--light-bg) !important;
    -moz-appearance: none !important;
    background-image: none !important;
    border: none !important;
    color: white !important;
}

.tab-background {
    background-color: var(--dark-bg) !important;
    margin: 7px;
    border-radius: 20px;
    color: white !important;
}


.tab-line {
    display: none !important;
}


.tabbrowser-tab::before, 
.tabbrowser-tab::after{
  display: none !important;
}


.tab-close-button {
  border-radius: 10px !important;
}


#identity-box,
#tracking-protection-icon-container,
#urlbar-background {
   display: none !important;
}


#back-button>.toolbarbutton-icon {
  transform: scale(.85, .85) !important;
  animation: none !important;
  border: none !important;
  box-shadow: none !important;
}


#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
  background: none !important;
}


#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
  border-radius: 2px !important;
}


#back-button {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSNzVLQoGBAAAAb0lEQVQoz43ROQqDUBSF4UMEESKCBBehOODK7ezSWZnGJmuI4xp+66CX9077FXc40k1o+fCSFRoOOgKLa3Z6QosrNt5EFpesDDwtLlgYSSzOmZlILY758SW7ykO+cYzwWNLjTI9HSc5XS86ypP+6Tw/fVEqhFbEZAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTAzLTE5VDE4OjU1OjUzKzAxOjAwq3ccegAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wMy0xOVQxODo1NTo1MyswMTowMNoqpMYAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC') !important;
}


#forward-button {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSOA3k2CXQAAAAbklEQVQoz5WRMQqDABAEF4UgKEIIPkKJii+3s7NLpY1N3qBR84axsPYOt1sYuNtdSZLEi5FG1yKk5U9tIQ86dioLiejZKC0k5sPK20JSBn4UFvJkYiG3kIwvM8npAt2Vc8J50onpFOVU7Y51PfcBtUFUSir+geUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTlUMTg6NTY6MTMrMDE6MDDECqmDAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTE5VDE4OjU2OjEzKzAxOjAwtVcRPwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') !important;
}


#whats-new-menu-button,
#star-button,
#pocket-button,
#pageActionSeparator,
#pageActionButton,
#reader-mode-button{
  display: none !important;
}


#PanelUI-button {
  background-color: var(--main-bg) !important;
  border-image-source: none !important;
  border-inline-start: 0px !important;
  margin-inline-start: 0px !important;
  border-image-slice: 0 !important;
}


#urlbar-results {
  background-color: var(--light-bg) !important;
  border-radius: 10px !important;
}


.urlbarView-body-inner {
  border-top: none !important;
}


#nav-bar {
  border-bottom: 0px !important;
  box-shadow: none !important;
}


#urlbar ::-moz-selection,
.searchbar-textbox ::-moz-selection {
  background-color: #dddddd !important;
  color: #000 !important;
}


#urlbar, .searchbar-textbox {
    color: white !important;
}


#tabbrowser-tabpanels{
  background-color: #ffffff !important;
}

.tab-loading-burst {
    display: none !important;
}
